@model List<election_parties>
@{
    ViewData["Title"] = "List of Parties";
}
<div class="report-container">
    <div class="report-header">
        <h1 class="recent-Articles">@ViewData["Title"]</h1>
        <a asp-controller="Party" asp-action="Add"><input type="button" class="view" value="Create" /></a>
    </div>
    <div class="report-body">
        <div class="report-topic-heading">
            <h3 class="t-op">+</h3>
            <h3 class="t-op">Party Name</h3>
            <h3 class="t-op">Party IsActive</h3>
        </div>
        <div class="items">
            @foreach (var item in Model)
            {
                <div class="item1">
                    <h3 class="t-op-nextlvl"><a asp-controller="Party" asp-action="Edit" asp-route-id="@item.election_party_id"><i class="fa-solid fa-pen-to-square"></i></a></h3>
                    <h3 class="t-op-nextlvl">@item.election_party_name</h3>
                    <h3 class="t-op-nextlvl label-tag">@(item.election_party_active ? "Active" : "In Active")</h3>
                </div>
            }
        </div>
    </div>
</div>



